<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        

<br>
<label class="tituloPres">VIAS <img src="/documents/45516/48801/right164.png" /> Ventanilla Integral de Atención <img src="/documents/45516/48801/right164.png" /> Nuevo Prestador</label>
<hr>
<form ng-init="getPais();getTiposdeServicio('9');getEspecialidades('3')" id="nuevoPForm" name="nuevoPForm" novalidate>
<div id="nuevoToggler">
  <h4 class="header toggler-header-collapsed acordiontitulo">Datos Generales Prestador</h4>
  <div class="content toggler-content-collapsed">
    <div class="datgeneralPrestador">
    <div>
        <div class="form-group">   
                    <label class="control-label"> Tipo de Servicio:* </label>
                    <select id="tipServ" name="tipServ" ng-change="prestador.idTipoServicio = modelTipoServicio.value" ng-required="true" 
                                    ng-model="modelTipoServicio" ng-options="opt.label for opt in listaTipoServicio" >                                            
                                            <option value="">Seleccione</option>
                    </select>
                    <div ng-show="nuevoPForm.tipServ.$dirty &&  nuevoPForm.tipServ.$invalid" class="camporequerido" ng-bind="camposrequeridos"></div>
        </div> 
        <div ng-repeat="espe in especialidades" class="form-group">             
                <label class="control-label"> Especialidad: * </label>
                <select id="especia_{{$index}}" name="especia_{{$index}}" ng-change="setEspecialidades(espe.selected.value)" ng-required="true" ng-model="espe.selected" ng-options="opt as opt.label for opt in listaDeEspecialidad" >
			<option value="">Seleccione</option>
                </select>
                <button  ng-click="setEspecialidad($index)" > + </button>
                <div ng-show="nuevoPForm.especia_{{$index}}.$dirty &&  nuevoPForm.especia_{{$index}}.$invalid" class="camporequerido" ng-bind="camposrequeridos"></div>
        </div>         
        <div class="form-group">
                                <label class="control-label"> Nombre Común:* </label>
                                <input  id="nomcomun" name="nomcomun" type="text" ng-model="prestador.nombre" ng-required="true"/>
                                <div ng-show="nuevoPForm.nomcomun.$dirty &&  nuevoPForm.nomcomun.$invalid" class="camporequerido" ng-bind="camposrequeridos"></div>
        </div>       
        <div class="form-group">
                                <label class="control-label">Razón social:</label>
                                <input ng-model="prestador.razonSocial" type="text" />
        </div>
        <div class="form-group">
                                <label class="control-label"> RFC: </label>
                                <input ng-model="prestador.rfc" type="text" />
        </div>       
    </div>    
   
    <div>
        <div class="form-group">
                            <label class="control-label"> Id proveedor AXA:</label>
                            <input id="h1" name="h1" ng-model="prestador.noAgente" type="text" />                             
        </div>      
        <div class="form-group">
            <label class="control-label"> Horario atención 1: * </label>
            <input id="h1" name="h1" ng-model="prestador.horarioAtencion1" ng-required="true" type="text" />
            <div ng-show="nuevoPForm.h1.$dirty &&  nuevoPForm.h1.$invalid" class="camporequerido" ng-bind="camposrequeridos" ></div>                             
        </div>
        <div class="form-group">
            <label class="control-label"> Horario atención 2: * </label>
            <input id="h2" name="h2" ng-required="true" ng-model="prestador.horarioAtencion2" type="text" />
            <div ng-show="nuevoPForm.h2.$dirty &&  nuevoPForm.h2.$invalid" class="camporequerido" ng-bind="camposrequeridos" ></div>
        </div>         
    </div>                       
    </div>  
  </div>


  
  <h4 class="header toggler-header-collapsed acordiontitulo">Dirección Prestador</h4>
  <div class="content toggler-content-collapsed">
    <div class="datgeneralPrestador">
        <div>
            <div class="form-group">
                <label class="control-label">Pais: *</label>
                <select id="pais_" name="pais_" ng-change="prestadorDireccion[0].pais = modelPais.value; getListaEstado()" ng-required="true" ng-model="modelPais" ng-options="opt as opt.label for opt in Listapais">
                    <option value="">Seleccione</option>                        
                </select>
                <div ng-show="nuevoPForm.pais_.$dirty &&  nuevoPForm.pais_.$invalid" class="camporequerido" ng-bind="camposrequeridos"></div>
            </div>
            <div class="form-group">
                <label class="control-label">Estado: *</label>                
                <select id="estado_" name="estado_" ng-change="prestadorDireccion[0].idEstado = selectedEstados.value; getListaDelegacion(selectedEstados.value);" 
                        ng-required="true" ng-model="selectedEstados" ng-options="opt as opt.label for opt in listaDeEstados">
                    <option value="">Seleccione</option>                    
                </select>
                <div ng-show="nuevoPForm.estado_.$dirty &&  nuevoPForm.estado_.$invalid" class="camporequerido" ng-bind="camposrequeridos"></div>
            </div>
            <div class="form-group">
                <label class="control-label">Delegación o Municipio: * </label>                
                <select id="delegacion_" name="delegacion_" ng-change="prestadorDireccion[0].idMunicipio = modelEstado.value" ng-required="true" 
                        ng-model="modelEstado" ng-options="opt as opt.label for opt in listaDelegaciones">
                    <option value="">Seleccione</option>                    
                </select> 
                <div ng-show="nuevoPForm.delegacion_.$dirty &&  nuevoPForm.delegacion_.$invalid" class="camporequerido" ng-bind="camposrequeridos"></div>
            </div>
            <div class="form-group">            
                <label class="control-label"> Codigo Postal: *</label>                
                <input  id="cp" name="cp" ng-model="prestadorDireccion[0].codigoPostal" ng-required="true" type="number" min="0" maxlength="5" max="99999" /> 
                <div ng-show="nuevoPForm.cp.$dirty && nuevoPForm.cp.$invalid" class="camporequerido" ng-bind="camposrequeridos">                    
                </div>
            </div>            
        </div>
        
        <div>
            <div class="form-group">
                <label class="control-label"> Colonia: * </label>                
                <input  id="colonia" name="colonia" ng-model="prestadorDireccion[0].colonia"  ng-required="true" type="text" maxlength="100"/>
                <div ng-show="nuevoPForm.colonia.$dirty && nuevoPForm.colonia.$invalid" class="camporequerido" ng-bind="camposrequeridos">                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"> Calle: * </label>                
                <input id="calle" name="calle" ng-model="prestadorDireccion[0].calle" ng-required="true" type="text" maxlength="100"/>     
                <div ng-show="nuevoPForm.calle.$dirty && nuevoPForm.calle.$invalid" class="camporequerido" ng-bind="camposrequeridos">                    
                </div>                
            </div>
            <div class="form-group">
                <label class="control-label"> Numero exterior: * </label>
                <input id="numexterior" name="numexterior"  ng-model="prestadorDireccion[0].numeroExterior" ng-required="true" type="text" maxlength="50"/>  
                <div ng-show="nuevoPForm.numexterior.$dirty && nuevoPForm.numexterior.$invalid" class="camporequerido">                     
                </div>                 
            </div>  
            <div class="form-group">
                <label class="control-label"> Numero interior: </label>                
                <input ng-model="prestadorDireccion[0].numeroInterior"   type="text" maxlength="50"/>
            </div>            
        </div>

        <div>
            <div class="form-group">
                <label class="control-label">Latitud: *</label>                
                <input id="lat" name="lat" ng-model="prestadorDireccion[0].latitud" ng-required="true" type="number"  maxlength="50"/>  
                <div ng-show="nuevoPForm.lat.$dirty && nuevoPForm.lat.$invalid" class="camporequerido" ng-bind="camposrequeridos">                     
                </div>                
            </div>
            <div class="form-group">
                <label class="control-label">Longitud: *</label>                
                <input id="longit" name="longit" ng-model="prestadorDireccion[0].longitud" ng-required="true" type="number" maxlength="50"/>     
                <div ng-show="nuevoPForm.longit.$dirty && nuevoPForm.longit.$invalid" class="camporequerido" ng-bind="camposrequeridos">                    
                </div>                 
            </div>
        </div>     
    </div>
  </div>
  
  <h4 class="header toggler-header-collapsed acordiontitulo">Teléfono Prestador </h4>
  <div class="content toggler-content-collapsed">
  <div class="datgeneralPrestador">
    <div>
        <div class="form-group"> 
         <label class="control-label">Teléfono 1: *</label>
         <input id="tel1" name="tel1" ng-required="true" ng-model="prestadorTelefono[0].numero" type="text" maxlength="50"/>
         <div ng-show="nuevoPForm.tel1.$dirty && nuevoPForm.tel1.$invalid" class="camporequerido" ng-bind="camposrequeridos">                     
         </div>           
        </div>
        <div class="form-group"> 
         <label class="control-label">Teléfono 2: </label>
         <input ng-model="prestadorTelefono[1].numero" type="text" maxlength="50" />
        </div>   
        <div class="form-group"> 
         <label class="control-label">Celular: </label>
         <input ng-init="prestadorTelefono[2].tipoTelefono = 'Celular' " ng-model="prestadorTelefono[2].numero" type="text" maxlength="50" />
        </div>        
    </div>
  </div>
  </div>
  
    <h4 class="header toggler-header-collapsed acordiontitulo">Mail Prestador </h4>
    <div class="content toggler-content-collapsed">
    <div class="datgeneralPrestador">
        <div>
            <div class="form-group">
                <label class="control-label">Correo electrónico 1: * </label>
                <input id="mail_1" name="mail_1" ng-required="true" ng-model="prestadorEmail[0].email" type="email"/>   
                <div ng-show="nuevoPForm.mail_1.$dirty && nuevoPForm.mail_1.$invalid" class="camporequerido" ng-bind="camposrequeridos">                     
                </div>                
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico 2: </label>
                <input type="email"  ng-model="prestadorEmail[1].email" />
            </div>            
        </div>
    </div>
    </div>
</div>    
 
<div  style="padding-left: 80%;">
        <input class="btn btn-primary" type="submit" data-ng-disabled='!nuevoPForm.$valid' ng-click="savePrestador()" value="Guardar" />
</div>    
</form>     
        
        
</body>
</html>
<!--        <div ng-if="especialiddad"  ng-repeat="espe in especialidades" class="form-group"> 
            
                <label class="control-label"> Especialidad* </label>
                <select ng-model="espe.selectedEspecialidadcve" ng-options="opt as opt.label for opt in listaDeEstados" >
			<option value="">Seleccione</option>
                </select>
                <button  ng-click="setEspecialidad()" > + </button>
            
        </div>  -->

<!--        <div class="form-group" ng-if="redDePreferencia">
                            <label class="control-label"> Red de preferencia: *</label>
                            <select>
                                        <option>SI</option>
                                        <option>NO</option>
                            </select>
        </div>
        <div class="form-group" ng-if="plann">
                            <label class="control-label"> Plan: *</label>
                            <input id="plan" name="plan"  ng-model="prestador.plan" ng-required="true" type="text" />
                            <div ng-show=" nuevoPForm.plan.$dirty &&  nuevoPForm.plan.$invalid" class="camporequerido">
                           {{camposrequeridos}}
                            </div>                             
        </div>
        <div class="form-group" ng-if="gamma">
                            <label class="control-label"> Gama: *</label>
                            <input id="gama" name="gama" ng-model="prestador.gama" ng-required="true" type="text" />
                            <div ng-show=" nuevoPForm.gama.$dirty &&  nuevoPForm.gama.$invalid" class="camporequerido">
                           {{camposrequeridos}}
                            </div>                              
        </div>
-->
<!--                <div ng-show="nuevoPForm.mail1.$dirty && nuevoPForm.mail1.$invalid" class="camporequerido">
                    {{camposrequeridos}} 
                </div>-->


       
